@import "includes/normalize";
@import "neat/neat";
@import "bourbon/bourbon";
@import "base/base";

$neat-grid: (
  columns: 12,
  gutter: 20px
);

body {
  margin: 0 0 ($base-spacing * 2);
}

.container {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 720px;
}

/* Menu */
nav {
  background-color: #333;
  menu {
    @include margin(null auto 1em auto);
    @include padding(0.5em $base-spacing);
    @include clearfix;
    max-width: 720px;
    background-color: #333;

    li {
      float: left;
      margin-left: 1em;
      position: relative;

      &:first-child {
        margin-left: 0;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: #fff;
      }
      menu#submenu {
        display: none;
        position: absolute;
        left: 0;
      }
      &:hover menu#submenu,
      & menu#submenu:hover {
        display: block;
      }
    }
  }
}

#flash {
  padding: 1em;
  margin-bottom: 1em;
  font-weight: bolder;
}

/* Flash! */
#flash.error {
  color: $error-fg;
  background-color: $error-bg;
}

#flash.info {
  color: $info-fg;
  background-color: $info-bg;
  border: 5px solid $info-fg;
}

/* Overhead */
#overhead {
  @include margin(3em null);

  nav {
    display: none;
  }

  h1#with-ruler, h2#with-ruler {
    border-bottom: $base-border;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 3em;
    padding: 0;
  }
}

/* Admin */
#admin {
  #agenda-item-buttons {
    @include grid-container;
    @include grid-collapse;
  }

  #ai-headings {
    @include grid-column(8);
  }

  h1, h2 {
    text-align: center;
  }

  #prev-button {
    @include grid-column(2);
  }

  #next-button {
    @include grid-column(2);
  }

  #speakerhandling-container {
    @include grid-container;
    @include grid-collapse;
  }

  #speaker-col {
    @include grid-column(8);

    #attendee-table {
      th {
        text-align: center;
      }

      tr {
        outline: transparent solid 3px;
        transition: outline 1s linear 0s;

        &.speaker-added {
          outline: $action-color solid 3px;
        }
      }

      .id {
        width: 3ch;
        text-align: right;
      }

      .numspoken {
        width: 3ch;
        text-align: right;
      }

      #delcol {
        width: 5em;
      }
    }
  }

  #speaker-button-col {
    @include grid-column(4);
    @include margin($base-spacing null);

    form, .with-top-margin {
      margin-top: 3em;
    }

    #{$all-buttons} {
      margin-bottom: 0.25em;
      width: 100%;
    }
  }
}
