@import "neat/neat";
@import "bourbon/bourbon";
@import "base/base";

body {
  margin: 0 0 ($base-spacing * 2);
}

.container {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 720px;
}

/* Menu */
nav {
  background-color: #333;
  menu {
    @include margin(null auto 1em auto);
    @include padding(0.5em $base-spacing);
    max-width: 720px;

    li {
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

/* Overhead */
#overhead {
  nav {
    display: none;
  }
}

/* Admin */
#admin {
  h1, h2 {
    text-align: center;
  }

  #prev-button {
    float: left;
  }

  #next-button {
    float: right;
  }
}

/* Utils */
.clearfix {
  clear: both;
}
